<section>
  <h2>Player details:</h2>

  <ul>
    <li>
      <strong>Id: </strong>
      <span>{{details.id}}</span>
    </li>
    <li>
      <strong>Active: </strong>
      <span>true</span>
    </li>
  </ul>
  <ul>
    <li>
      <strong>Age: </strong>
      <span>{{details.profile.age}}</span>
    </li>
    <li>
      <strong>Role: </strong>
      <span>{{details.profile.role}}</span>
    </li>
    <li>
      <strong>Team: </strong>
      <span>{{details.profile.team | titlecase}}</span>
    </li>
  </ul>
</section>
